@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');

/* UTILS START */
$background-color: #46ffd7;
$navbar-color: #a5a5a5;
/* UTILS END */

body {
  background-color: $background-color;
}

@import './navbar.scss';
