@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');

/* UTILS START */
$background-color: #ccfbf1;

:root {
  --background-color: #{$background-color};
}

body {
  background-color: var(--background-color);
}
@import './navbar.scss';
