@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');

/****** UTILS START ******/
$background-color: #46ffd7;
$navbar-color: #a5a5a5;
$flash-success-color: #c0f3b9;
$flash-danger-color: #f5c1c1;
$flash-info-color: #afd7f3;
$flash-warning-color: #fcebaa;
/****** UTILS END ******/

body {
  background-color: $background-color;
}

@import './navbar.scss';
@import './flash.scss';
