@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css'); 
  body {
    background-color: #46ffd7; }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #a5a5a5;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }

      .brand-title {
        font-size: 2rem;
        margin: 1rem;
        color: black;
        font-family: 'Lobster', cursive; }

        .alerts-container {
          position: fixed;
          top: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end; }

          .alert {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            padding-left: 1rem; }
            .alert .closebtn-container {
              padding: 0 1rem;
              margin-left: 0.5rem; }
              .alert .closebtn-container:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.2);
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                transition: background-color 0.1s ease-in-out; }
                .alert .closebtn-container span {
                  font-size: 2rem;
                  color: black;
                  font-family: 'Lobster', cursive; }
            .alert-success {
              background-color: #c0f3b9; }
              .alert-danger {
                background-color: #f5c1c1; }
                .alert-info {
                  background-color: #afd7f3; }
                  .alert-warning {
                    background-color: #fcebaa; }

  .form-container {
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

    form {
      margin-top: 20px; }

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px; }

        input[type='file'] {
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 5px;
          max-width: 100%; }

          input[type='submit'] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s; }

            input[type='submit']:hover {
              background-color: #0056b3; }
