/* UTILS START */
$background-color: #ccfbf1;

:root {
  --background-color: #{$background-color};
}

body {
  background-color: var(--background-color);
}

/* NAVBAR START */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  .brand-title {
    font-size: 2rem;
    margin: 1rem;
    color: black;
    font-family: 'Lobster', cursive;
  }
}
